target
.checkstyle
*checkstyle*
*.class
.classpath
.fbprefs
.pmd
.project
.settings
.LICENSE.txt
db-create.sql
db-drop.sql
bin
*.iml
.idea
*.orig
*.versionsBackup
*-SNAPSHOT*.min.js
.sass-cache/
.DS_Store
!step-wasm/target/step-engine.js
!step-wasm/target/step-engine.js.wasm
!step-wasm/target/step-engine.js.wat
step-wasm/tmp
